:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #333333;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


/*Page Title*/
#pgTitle {
  font-size: 40px;
  text-align: center;
  width: 100%;
  font-family: 'arial', serif;
  color: #96ff76;
}


/*Login / Register Stuff*/
#loginDiv {
  color: #ffffff;
	background-color: rgba(31, 120, 58, 0.75);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 55%;
  left: 50%;
  border-radius: 15px;
  backdrop-filter: blur(5px);
  border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
  padding: 0px 35px 35px 35px;

  width: 350px;
  height: auto;
}

#registerDiv
{
	color: #ffffff;
	background-color: rgba(31, 120, 58, 0.75);
  position: absolute;
  transform: translate(-50%,-50%);
  top: 55%;
  left: 50%;
  border-radius: 15px;
  backdrop-filter: blur(5px);
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgba(8,7,16,0.6);
  padding: 0px 35px 35px 35px;
	
	width: 600px;
	display: inline-block;
}

#innerTitle {
  font-size: 20px;
  text-align: center;
  color: #000000;
}

#loginLabel {
  font-size: 15px;
  font-family: 'arial', serif;
  /*margin-top: 8px;*/
  color: #ffffff;
}

#registerLabel {
  font-size: 15px;
  font-family: 'arial', serif;
  margin-top: 8px;
  color: #ffffff;
  padding: 0px 0px 0px 0px;
}

#registerLabelSpan {
  padding-left: 215px;
}

#registerInputSpan {
  padding-left: 50px;
}

#loginInput {
  display: block;
  height: 50px;
  width: 100%;
  border-radius: 10px;
  padding: 0px 0px 0px 0px;
  margin-top: 8px;
  font-size: 15px;
  background: #ffffff;
  color: black;
  text-align: center;
}

#registerInput{
  height: 50px;
  width: 45%;
  border-radius: 10px;
  padding: 0 10px;
  margin-top: 8px;
  margin-bottom: 15px;
  font-size: 15px;
  padding: 0px 75px 0px 0px;
  background: #ffffff;
  color: black;
}

*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

form * {
  font-family: 'Poppins', sans-serif;

  letter-spacing: 1px;
  outline: none;
  border: none;
}

#loginButtons {
  margin-top: 10px;
  width: 100%;
  background-color: #ffffff;
  color: #080710;
  padding: 15px 0;
  font-size: 15px;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
}

#loginButtons:hover {
  text-decoration: underline;
}

#loginButtons:active {
  background-color: #a9c6d8;
}


/*NavBar*/
*{
  box-sizing: border-box;
}

body {
  margin: 0;
}

.siteTitle{
  font-size: 2rem;
}

.nav{
  background-color: #4aa82d;
  color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.nav ul{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1px;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  letter-spacing: 1px;
  padding: 10px 15px;
}

.nav li.active{
  background-color:#75c85c;
}

.nav li:hover{
  background-color:#88e36c;
  
}

#siteTitle
{
  color: #333333;
  padding: 10px;
  font-size: 20;
}

/*About Us*/
.column {
  float:inline-start;
  width: 15%;
  margin: 0 auto;  
  padding: 0 5%;
  color: #333333;
  text-align: center;
  
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 175px) {
  .column {
    width: 100%;
    display: block;
    background-color: #7be75a;
  }
}

/* Add some shadows to create a card effect */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 175px;
  border-radius: 15px;
  background-color: #7be75a;
}

/* Some left and right padding inside the container */
.container {
  padding: 0 16px;
}

/* Clear floats */
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;

}

.aboutUsTitle {
  color: #333333;
  font-size: 15px;
}

.aboutSubTitle {
  color: #333333;
}

.aboutUs{
  border-radius: 15px;  
}

#aboutTitle{
  text-align: center;
  color: #7be75a;

}
#name{
  font-size: 20px;
}

/*Account Page*/
#accntTitle{
  text-align: center;
  color: #7be75a;

}

#accountDiv
{
	color: #ffffff;
	background-color: rgba(31, 120, 58, 0.75);
  position: absolute;
  transform: translate(-50%,-50%);
  top: 60%;
  left: 50%;
  border-radius: 15px;
  backdrop-filter: blur(5px);
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgba(8,7,16,0.6);
  padding: 0px 35px 35px 35px;
	
	width: 30%;
	display: inline-block;
}

#accntRow1{
  margin-top: 5px;
  padding-left: 100px;
}

#accntRow2{
  margin-top: 5px;
  padding-left: 95px;
}

#accntInputSpan {
  padding-left: 25px;
}

#accntGoals{
  margin-top: 5px;
}

/*Diary Page*/
.diaryWrap{
  background-color: #444444;
  padding: 2%;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.5%;
  overflow-y: auto;
  box-shadow: 0px 5px 7px black;
  
  border-radius: 15px;
}

.diaryHeader{
  text-align: center;
  color: #7be75a;
}

.diaryInput{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 2px solid #96ff76;
  padding-bottom: 25px;
  margin-bottom: 25px;
}

.diaryItem{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.diaryItem label{
  font-weight: bold;
  margin-bottom: 10px;
  color:#75c85c;
}

.diaryItem input{
  padding: 10px;
  border: none;
  width: 350px;
}

.clearBtn{
  float: right;
  background-color: #ff7676;
  color: #333333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: fit-content;
  padding: 10px;
  margin-right: 5px;
  
}

.clearBtn:hover{
  background-color: #c55252;
  text-decoration: underline;
}

.addFoodBtn{
  background-color: #96ff76;
  color: #333333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 75px;
  margin-top: 25px;
  padding: 10px;

}

.addFoodBtn:hover{
  background-color: #75c85c;
  text-decoration: underline;
}

.secondaryBtn{
  background-color: #96ff76;
  color: #333333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: fit-content;
  padding: 10px;
  margin-right: 5px;
}

.secondaryBtn:hover{
  background-color: #75c85c;
  text-decoration: underline;
}

.diaryBtnArea{
  margin-bottom: 10px;
}

.foodList{
  display: flex;
  flex-direction: column;
}

.foodListItem{
  background-color: #555555;
  display: flex;
  justify-content: space-between;
  padding: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  
}

.foodListHeader{
  background-color: #75c85c;
  display: flex;
  justify-content: space-between;
  padding: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  
}

/*Custom Foods*/
.listBtn{
  float: right;
  background-color: #ff7676;
  color: #333333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 68px;
  padding: 10px;
  margin-right: 5px;
  height: 50px;
}

.listBtn:hover{
  background-color: #c55252;
  text-decoration: underline;
}

.customFoodName:hover{
  background-color: #666666;
}

.customListItem{
  background-color: #555555;
  display:flex;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  justify-content:space-between;
}

.customFoodName{
  font-size: 20px;
  margin: 0px;
  margin-left: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.customFoodCals{
  font-size: 14px;
  margin-top: 0px;
  margin-left: 10px;
}


/*Modals*/
.modal, .overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49,49,49,0.8);
}
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #88e36c;
  padding: 14px 28px;
  border-radius: 8px;
  max-width: 600px;
  min-width: 300px;
}

.modalClose {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
}

#modalInput{
  height: 50px;
  width: 45%;
  border-radius: 10px;
  padding: 0 10px;
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 15px;
  padding: 0px 75px 0px 0px;
  background: #ffffff;
  color: black;
}

.modalFoodBtn{
  background-color: #444444;
  color: #ffffff;

  margin-top: 10px;
  width: 45%;

  padding: 10px 0;
  font-size: 15px;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;

  align-self: center;
}

.modalFoodBtn:hover{
  background-color: #666666;
  text-decoration: underline;
}

#modalRow1{
  margin-top: 5px;
  padding-left: 230px;
}

#modalRow2{
  margin-top: 5px;
  padding-left: 225px;
}

#modalInputSpan {
  padding-left: 50px;
}

.modalSubHeader{
  margin-bottom: 5px;
  padding-bottom: 0px;
}