:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #333333;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


/*Page Title*/
#pgTitle {
  font-size: 40px;
  text-align: center;
  width: 100%;
  font-family: 'arial', serif;
  color: #96ff76;
}


/*Login / Register Stuff*/
#loginDiv {
  color: #ffffff;
	background-color: rgba(31, 120, 58, 0.75);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 55%;
  left: 50%;
  border-radius: 15px;
  backdrop-filter: blur(5px);
  border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
  padding: 0px 35px 35px 35px;

  width: 350px;
  height: auto;
}

#registerDiv
{
	color: #ffffff;
	background-color: rgba(31,78,120,0.5);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 15px;
    backdrop-filter: blur(5px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 0px 35px 35px 35px;
	
	width: 600px;
	display: inline-block;
}

#innerTitle {
  font-size: 20px;
  text-align: center;
  color: #000000;
}

#loginLabel {
  font-size: 15px;
  font-family: 'arial', serif;
  /*margin-top: 8px;*/
  color: #ffffff;
}

#registerLabel {
  font-size: 15px;
  font-family: 'arial', serif;
  margin-top: 8px;
  color: #ffffff;
  padding: 0px 0px 0px 0px;
}

#registerLabelSpan {
  padding-left: 215px;
}

#registerInputSpan {
  padding-left: 50px;
}

#loginInput {
  display: block;
  height: 50px;
  width: 100%;
  border-radius: 10px;
  padding: 0px 0px 0px 0px;
  margin-top: 8px;
  font-size: 15px;
  background: #ffffff;
  color: black;
}

#registerInput{
  height: 50px;
  width: 45%;
  border-radius: 10px;
  padding: 0 10px;
  margin-top: 8px;
  margin-bottom: 15px;
  font-size: 15px;
  padding: 0px 75px 0px 0px;
  background: #ffffff;
  color: black;
}

*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

form * {
  font-family: 'Poppins', sans-serif;

  letter-spacing: 1px;
  outline: none;
  border: none;
}

#loginButtons {
  margin-top: 10px;
  width: 100%;
  background-color: #ffffff;
  color: #080710;
  padding: 15px 0;
  font-size: 15px;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
}

#loginButtons:hover {
  text-decoration: underline;
}

#loginButtons:active {
  background-color: #a9c6d8;
}


/*NavBar*/
*{
  box-sizing: border-box;
}

body {
  margin: 0;
}

.siteTitle{
  font-size: 2rem;
}

.nav{
  background-color: #4aa82d;
  color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.nav ul{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1px;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  letter-spacing: 1px;
  padding: 10px 15px;
}

.nav li.active{
  background-color:#75c85c;
}

.nav li:hover{
  background-color:#88e36c;
  
}

#siteTitle
{
  color: #333333;
  padding: 10px;
  font-size: 20;
}

